
.idea/Flask_Part2.iml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

__pycache__/config.cpython-35.pyc

.idea/dictionaries/st00nne.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml
